<a [routerLink]="['./tooltip']" [routerLinkActive]="'active'">Tooltip</a>
<a [routerLink]="['./customtooltip']" [routerLinkActive]="'active'">Tooltip-Custom</a>
<a [routerLink]="['./multitooltip']" [routerLinkActive]="'active'">Tooltip-Multi</a>
<a [routerLink]="['./getpoint']" [routerLinkActive]="'active'">Get Point</a>
<a [routerLink]="['./marker']" [routerLinkActive]="'active'">Marker</a>
<a [routerLink]="['./distance']" [routerLinkActive]="'active'">Distance</a>
<a [routerLink]="['./drilldown']" [routerLinkActive]="'active'">Drilldown</a>
<a [routerLink]="['./seriesadd']" [routerLinkActive]="'active'">Add Series</a>
<a [routerLink]="['./seriesvisible']" [routerLinkActive]="'active'">Series Show/Hide</a>
<a [routerLink]="['./axis']" [routerLinkActive]="'active'">Axis</a>
<a [routerLink]="['./multixaxis']" [routerLinkActive]="'active'">Multi xAxis</a>
<a [routerLink]="['./axisgroup']" [routerLinkActive]="'active'">Axis Group</a>
<a [routerLink]="['./xaxislinkto']" [routerLinkActive]="'active'">xAxis Linkto</a>
<a [routerLink]="['./xaxislabel']" [routerLinkActive]="'active'">xAxis Label</a>
<a [routerLink]="['./xaxisdatetime']" [routerLinkActive]="'active'">xAxis DateTime</a>
<a [routerLink]="['./xaxiscolor']" [routerLinkActive]="'active'">xAxis Color</a>
<a [routerLink]="['./axishift']" [routerLinkActive]="'active'">Axis Shift</a>
<a [routerLink]="['./axishift2']" [routerLinkActive]="'active'">Axis Shift2</a>
<a [routerLink]="['./plotlines']" [routerLinkActive]="'active'">Plot Lines</a>
<a [routerLink]="['./gpuboost']" [routerLinkActive]="'active'">GPU Boost</a>
<a [routerLink]="['./dragpoints']" [routerLinkActive]="'active'">Drag Points</a>
<a [routerLink]="['./dragpoints2']" [routerLinkActive]="'active'">Drag Points MultiDimension</a>
<a [routerLink]="['./multicolor']" [routerLinkActive]="'active'">MultiColor</a>
<a [routerLink]="['./overlay']" [routerLinkActive]="'active'">Overlay</a>
<a [routerLink]="['./scroll']" [routerLinkActive]="'active'">Scroll</a>
<a [routerLink]="['./contextmenu']" [routerLinkActive]="'active'">ContextMenu</a>
<a [routerLink]="['./boost']" [routerLinkActive]="'active'">Boost</a>
<a [routerLink]="['./zoom-boost']" [routerLinkActive]="'active'">Zoom-Boost</a>
<br/>
<router-outlet></router-outlet>
