<a [routerLink]="['./tooltip']" [routerLinkActive]="'active'">Tooltip</a>
<a [routerLink]="['./customtooltip']" [routerLinkActive]="'active'">Tooltip-Custom</a>
<a [routerLink]="['./getpoint']" [routerLinkActive]="'active'">Get Point</a>
<a [routerLink]="['./marker']" [routerLinkActive]="'active'">Marker</a>
<a [routerLink]="['./drilldown']" [routerLinkActive]="'active'">Drilldown</a>
<a [routerLink]="['./addseries']" [routerLinkActive]="'active'">Add Series</a>
<br/>
<router-outlet></router-outlet>
