* { padding : 0; margin : 0;}

.area {
  position: relative;
  box-shadow: 0 0 0 1px #000 inset;
  color: white;
  width:1200px;;
  height:800px;

}

.pointer {
  box-shadow: 0 0 0 1px #000 inset;
  position:relative;
  z-index:1;
}

.depart {
  width:5px;
  height:5px;
  left: 100px;
  top: 50px;
}
