<p>child works!</p>

<br/>{{"CODESERVICE.LABEL.PLACEHOLDER.NO_SELECTED_CATEGORY" | translate }}
<br/>{{"CODESERVICE.MESSAGE.CREATE.SERVICE" | translate }}
<br/>{{"CODESERVICE.MESSAGE.CREATE.CATEGORY" | translate }}
<br/>{{"CODESERVICE.MESSAGE.CREATE.CODE" | translate }}
<br/>{{"CODESERVICE.MESSAGE.MODIFIED.SERVICE" | translate }}
<br/>{{"CODESERVICE.MESSAGE.MODIFIED.CATEGORY" | translate }}
<br/>{{"CODESERVICE.MESSAGE.MODIFIED.CODE" | translate }}
<br/>{{"CODESERVICE.MESSAGE.DELETE.SERVICE" | translate }}
<br/>{{"CODESERVICE.MESSAGE.DELETE.CATEGORY" | translate }}
<br/>{{"CODESERVICE.MESSAGE.DELETE.CODE" | translate }}
<br/>{{"CODESERVICE.MESSAGE.VALIDATE.EMPTY" | translate }}
<br/>{{"CODESERVICE.MESSAGE.VALIDATE.DUPLICATE.SERVICE" | translate }}
<br/>{{"CODESERVICE.MESSAGE.VALIDATE.DUPLICATE.CATEGORY" | translate }}
<br/>{{"CODESERVICE.MESSAGE.VALIDATE.DUPLICATE.CODE"  | translate }}
<br/>{{"CODESERVICE.MESSAGE.VALIDATE.DUPLICATE.ORDER" | translate }}
<br/>{{"CODESERVICE.MESSAGE.CONFIRM.DELETE" | translate }}
<br/>{{"CODESERVICE.MESSAGE.NO_DATA_SELECTED" | translate }}


