<!-- <div>{{ 1688033634000 | timezone: 'yyyy-MM-dd hh:mm:ss ZZ' }}</div>

<div>{{ 1688033634000 | timezoneLuxon: 'yyyy MMM dd hh:mm:ss ZZ': 'ko-KR': 'Asia/Seoul'}}</div>
<div>{{ 1702104869000 | timezoneLuxon: 'yyyy MMM dd hh:mm:ss ZZ': 'en-US': 'America/Los_Angeles'}}</div>
<div>{{ 1688033634000 | timezoneLuxon: 'yyyy MMM dd hh:mm:ss ZZ': 'fr': 'America/New_York'}}</div> -->

<select [formControl]="timezoneControl">
  <ng-container *ngFor="let item of timezone$ | async">
    <option [value]="item.identifier">{{item.title}}</option>
  </ng-container>
</select>

<br/>
<span>Time timezone {{isDSTOn ? 'support': 'no support'}} DST.</span>
<br/>
<div>Adjust for daylight saving time automatically {{isDSTOn ? 'ON' : 'OFF'}}</div>
<button *ngIf="isDSTOn" (click)="setDST()">
<span>{{toggleDST ? 'OFF' : 'ON'}}</span>
</button>


<p>&nbsp;</p>

<div>locale time: {{today}}</div>
<div>timezone set: {{aaa}}</div>

<p>&nbsp;</p>

<div>{{result}}</div>
