<!-- <div>{{ 1688033634000 | timezone: 'yyyy-MM-dd hh:mm:ss ZZ' }}</div>

<div>{{ 1688033634000 | timezoneLuxon: 'yyyy MMM dd hh:mm:ss a': 'Asia/Seoul': true: 'ko-KR'}}</div>
<div>{{ 1702104869000 | timezoneLuxon: 'yyyy MMM dd hh:mm:ss a': 'America/Los_Angeles': true: 'en-US'}}</div>
<div>{{ 1688033634000 | timezoneLuxon: 'yyyy MMM dd hh:mm:ss a': 'America/New_York': true: 'fr'}}</div> -->

<select [formControl]="timezoneControl">
  <ng-container *ngFor="let item of timezoneConfig$ | async">
    <option [value]="item.identifier">{{item.title}}</option>
  </ng-container>
</select>

<br/>
<span>Time timezone({{timezoneControl.value}}) {{hasDST ? 'support': 'no support'}} DST.</span>
<br/>
<div>Adjust for daylight saving time automatically {{hasDST ? 'ON' : 'OFF'}}</div>
<div *ngIf="isDSTOn">This timezone is on daylight saving time</div>
<button *ngIf="hasDST" (click)="setDST()">
<span>{{toggleDST ? 'OFF' : 'ON'}}</span>
</button>


<p>&nbsp;</p>

<div>locale time: {{today}}</div>
<div>timezone set: {{aaa}}</div>

<p>&nbsp;</p>

<div>{{result}}</div>
<!-- <div>{{result | timezoneLuxon: 'yyyy MMM dd hh:mm:ss a': timezoneControl.value: toggleDST}}</div> -->
