<button (click)="test1()">TEST1</button>
<br/>
<button (click)="test2()">TEST2</button>
<br/>
<button (click)="test3()">TEST3</button>
<br/>

<p>Test1</p>
<p>Origin1: {{original1 | json}}</p>
<p>Copy1: {{copy1 | json}}</p>
<p>DeepCopy1: {{deepcopy1 | json}}</p>
<br/>
<p>Test2</p>
<p>Origin2: {{original2 | json}}</p>
<p>Copy2: {{copy2 | json}}</p>
<p>DeepCopy2: {{deepcopy2 | json}}</p>
<br/>
<p>Test3</p>
<p>Origin3: {{original3 | json}}</p>
<p>Copy3: {{copy3 | json}}</p>
<p>DeepCopy3: {{deepcopy3 | json}}</p>
