<p>ocap-management works!</p>



  <br/>{{"OCAP_MANAGEMENT.LABEL.MODAL-SAVE.MODAL-TITLE"|translate}}
  <br/>{{"OCAP_MANAGEMENT.LABEL.MODAL-SAVE.CONTENTS"|translate}}
  <br/>{{"OCAP_MANAGEMENT.LABEL.MODAL-CANCEL.MODAL-TITLE"|translate}}
  <br/>{{"OCAP_MANAGEMENT.LABEL.MODAL-CANCEL.CONTENTS"|translate}}
  <br/>{{"OCAP_MANAGEMENT.LABEL.MODAL-EDIT.MODAL-TITLE"|translate}}
  <br/>{{"OCAP_MANAGEMENT.LABEL.MODAL-UPLOAD.MODAL-TITLE"|translate}}
  <br/>{{"OCAP_MANAGEMENT.LABEL.CONDITION.CHECK-BOX"|translate}}
  <br/>{{"OCAP_MANAGEMENT.LABEL.CONDITION.SEARCH-TITLE"|translate}}
  <br/>{{"OCAP_MANAGEMENT.LABEL.CONDITION.TITLE"|translate}}
  <br/>{{"OCAP_MANAGEMENT.LABEL.FILTER-MODE"|translate}}
  <br/>{{"OCAP_MANAGEMENT.LABEL.EXPLORER-MODE"|translate}}
  <br/>{{"OCAP_MANAGEMENT.LABEL.EXPORT"|translate}}
  <br/>{{"OCAP_MANAGEMENT.LABEL.IMPORT"|translate}}
  <br/>{{"OCAP_MANAGEMENT.LABEL.CLEAR"|translate}}
  <br/>{{"OCAP_MANAGEMENT.LABEL.INPUT-SEARCH-TEXT"|translate}}
  <br/>{{"OCAP_MANAGEMENT.LABEL.SPINNER-TIP"|translate}}
  <br/>{{"OCAP_MANAGEMENT.LABEL.OCAP-COUNT"|translate}}
  <br/>{{"OCAP_MANAGEMENT.LABEL.EQP-MODEL"|translate}}
  <br/>{{"OCAP_MANAGEMENT.LABEL.EQP"|translate}}
  <br/>{{"OCAP_MANAGEMENT.LABEL.MODULE-PATH"|translate}}
  <br/>{{"OCAP_MANAGEMENT.LABEL.MODULE"|translate}}
  <br/>{{"OCAP_MANAGEMENT.LABEL.ASSIGNED-USER"|translate}}
  <br/>{{"OCAP_MANAGEMENT.LABEL.EXPORT-LABEL"|translate}}
  <br/>{{"OCAP_MANAGEMENT.LABEL.NAME"|translate}}
  <br/>{{"OCAP_MANAGEMENT.LABEL.OPTION-NAME"|translate}}
  <br/>{{"OCAP_MANAGEMENT.LABEL.OPTION-KEY"|translate}}
  <br/>{{"OCAP_MANAGEMENT.LABEL.OPTION-TYPE"|translate}}
  <br/>{{"OCAP_MANAGEMENT.LABEL.CHECK-BOX"|translate}}
  <br/>{{"OCAP_MANAGEMENT.LABEL.DROP-DOWN"|translate}}
  <br/>{{"OCAP_MANAGEMENT.LABEL.TEXT-INPUT"|translate}}
  <br/>{{"OCAP_MANAGEMENT.LABEL.NUMERIC-INPUT"|translate}}
  <br/>{{"OCAP_MANAGEMENT.LABEL.ALLOW-MULTIPLE-SELECTION"|translate}}
  <br/>{{"OCAP_MANAGEMENT.LABEL.OPTION-VALUE"|translate}}
  <br/>{{"OCAP_MANAGEMENT.LABEL.MAXIMUM"|translate}}
  <br/>{{"OCAP_MANAGEMENT.LABEL.MINIMUM"|translate}}
  <br/>{{"OCAP_MANAGEMENT.LABEL.DECIMAL-PLACES"|translate}}
  <br/>{{"OCAP_MANAGEMENT.LABEL.OPTION-ITEMS"|translate}}
  <br/>{{"OCAP_MANAGEMENT.LABEL.CODE"|translate}}
  <br/>{{"OCAP_MANAGEMENT.LABEL.GROUP"|translate}}
  <br/>{{"OCAP_MANAGEMENT.LABEL.USER"|translate}}
  <br/>{{"OCAP_MANAGEMENT.LABEL.FIRST-NAME"|translate}}
  <br/>{{"OCAP_MANAGEMENT.LABEL.LAST-NAME"|translate}}
  <br/>{{"OCAP_MANAGEMENT.LABEL.PATH"|translate}}
  <br/>{{"OCAP_MANAGEMENT.LABEL.SELECTED-MODULES"|translate}}
  <br/>{{"OCAP_MANAGEMENT.LABEL.ASSIGN-USER"|translate}}
  <br/>{{"OCAP_MANAGEMENT.BUTTON.LOCATION"|translate}}
  <br/>{{"OCAP_MANAGEMENT.BUTTON.CUSTOMIZED-OPTION"|translate}}
  <br/>{{"OCAP_MANAGEMENT.BUTTON.EDIT"|translate}}
  <br/>{{"OCAP_MANAGEMENT.BUTTON.ADD-OPTION"|translate}}
  <br/>{{"OCAP_MANAGEMENT.MESSAGE.CONDITION-DATA-WRONG"|translate}}
  <br/>{{"OCAP_MANAGEMENT.MESSAGE.LEAVE-PAGE"|translate}}
  <br/>{{"OCAP_MANAGEMENT.MESSAGE.NO-DATA"|translate}}
  <br/>{{"OCAP_MANAGEMENT.MESSAGE.NO-SELECTED-DATA"|translate}}
  <br/>{{"OCAP_MANAGEMENT.MESSAGE.NO-INPUT-FIELD"|translate}}
  <br/>{{"OCAP_MANAGEMENT.MESSAGE.ITEM-ALREADY-EXISTS"|translate}}
  <br/>{{"OCAP_MANAGEMENT.MESSAGE.IMPORT-VALID-CSV"|translate}}
  <br/>{{"OCAP_MANAGEMENT.MESSAGE.IMPORT-NOT-SUPPORT"|translate}}
  <br/>{{"OCAP_MANAGEMENT.MESSAGE.IMPORT-NOT-MATCHING-KEY"|translate}}
  <br/>{{"OCAP_MANAGEMENT.MESSAGE.IMPORT-NO-UPDATE-DATA"|translate}}
  <br/>{{"OCAP_MANAGEMENT.MESSAGE.SET-LOCATION"|translate}}
