<p>dcp works!</p>



<br/>{{"DCP.CHART.ERROR" |translate}}
<br/>{{"DCP.CHART.TIMEOUT"|translate}}
<br/>{{"DCP.MESSAGE.INFO.REMOVE_PANE"|translate}}
<br/>{{"DCP.MESSAGE.INFO.NO_PANE"|translate}}
<br/>{{"DCP.MESSAGE.CONFIRM.APPLY_META_EQP"|translate}}
<br/>{{"DCP.MESSAGE.CONFIRM.DELETE_SELECTED"|translate}}
<br/>{{"DCP.MESSAGE.CONFIRM.DEPLOY"|translate}}
<br/>{{"DCP.MESSAGE.CONFIRM.ACTIVE_EQP"|translate}}
<br/>{{"DCP.MESSAGE.CONFIRM.INACTIVE_EQP"|translate}}
<br/>{{"DCP.MESSAGE.WARNING.COMPARISON_VERSION"|translate}}
<br/>{{"DCP.MESSAGE.WARNING.SAME_META_VERSION"|translate}}
<br/>{{"DCP.MESSAGE.WARNING.CHECK_VALUE"|translate}}
<br/>{{"DCP.MESSAGE.WARNING.TRID"|translate}}
<br/>{{"DCP.MESSAGE.WARNING.FORMULA_MISSING_ARGUMENT"|translate}}
<br/>{{"DCP.MESSAGE.WARNING.FORMULA_MISSING_IF"|translate}}
<br/>{{"DCP.MESSAGE.WARNING.FORMULA_MISSING_OPEN_BRACKET"|translate}}
<br/>{{"DCP.MESSAGE.WARNING.FORMULA_MISSING_CLOSE_BRACKET"|translate}}
<br/>{{"DCP.MESSAGE.WARNING.FORMULA_EMPTY"|translate}}
<br/>{{"DCP.MESSAGE.WARNING.FORMULA_NOT_FIND_FUNCTION"|translate}}
<br/>{{"DCP.MESSAGE.WARNING.FORMULA_WRONG_FORMAT"|translate}}
<br/>{{"DCP.MESSAGE.WARNING.FORMULA_WRONG_VALUE"|translate}}
<br/>{{"DCP.MESSAGE.WARNING.FORMULA_EDITOR_WRONG_FORMAT"|translate}}
<br/>{{"DCP.MESSAGE.WARNING.MANDATORY_CONTEXT"|translate}}
<br/>{{"DCP.MESSAGE.ERROR.DELETE_VERSION"|translate}}
<br/>{{"DCP.MESSAGE.ERROR.APPLIED_VERSION"|translate}}
<br/>{{"DCP.MESSAGE.ERROR.REMOVE_DCP"|translate}}
<br/>{{"DCP.MESSAGE.SUCCESS.REMOVE"|translate}}
<br/>{{"DCP.MESSAGE.SUCCESS.APPLY"|translate}}
<br/>{{"DCP.MESSAGE.SUCCESS.STATUS"|translate}}
<br/>{{"DCP.MESSAGE.SUCCESS.REFRESH"|translate}}
<br/>{{"DCP.MESSAGE.SUCCESS.DEPLOY_VERSION"|translate}}
<br/>{{"DCP.MESSAGE.SUCCESS.REMOVE_VERSION"|translate}}
<br/>{{"DCP.MESSAGE.SUCCESS.SUBMIT_VERSION"|translate}}
<br/>{{"DCP.MESSAGE.SUCCESS.DRAFT"|translate}}
<br/>{{"DCP.MESSAGE.SUCCESS.SHARE_LINK"|translate}}
<br/>{{"DCP.MESSAGE.FILE.IMPORT.INVALID"|translate}}

