<p>shared works!</p>


<br/>{{"SHARED.description"|translate}}
<br/>{{"SHARED.LABEL.CHECKALL"|translate}}
<br/>{{"SHARED.LABEL.PHOTO"|translate}}
<br/>{{"SHARED.LABEL.TEXT"|translate}}
<br/>{{"SHARED.LABEL.THUMBNAIL"|translate}}
<br/>{{"SHARED.BUTTON.ADD"|translate}}
<br/>{{"SHARED.BUTTON.APPLY"|translate}}
<br/>{{"SHARED.BUTTON.APP_CONFIG"|translate}}
<br/>{{"SHARED.BUTTON.BACK"|translate}}
<br/>{{"SHARED.BUTTON.CANCEL"|translate}}
<br/>{{"SHARED.BUTTON.CLOSE"|translate}}
<br/>{{"SHARED.BUTTON.COLLAPSE_ALL"|translate}}
<br/>{{"SHARED.BUTTON.CONFIRM"|translate}}
<br/>{{"SHARED.BUTTON.CREATE"|translate}}
<br/>{{"SHARED.BUTTON.DELETE"|translate}}
<br/>{{"SHARED.BUTTON.EXPAND_ALL"|translate}}
<br/>{{"SHARED.BUTTON.HIDE_LIST"|translate}}
<br/>{{"SHARED.BUTTON.LEGEND"|translate}}
<br/>{{"SHARED.BUTTON.LOGOUT"|translate}}
<br/>{{"SHARED.BUTTON.MODIFY"|translate}}
<br/>{{"SHARED.BUTTON.MOVE_UP"|translate}}
<br/>{{"SHARED.BUTTON.MOVE_DOWN"|translate}}
<br/>{{"SHARED.BUTTON.NEXT"|translate}}
<br/>{{"SHARED.BUTTON.OK"|translate}}
<br/>{{"SHARED.BUTTON.REMOVE"|translate}}
<br/>{{"SHARED.BUTTON.SAVE"|translate}}
<br/>{{"SHARED.BUTTON.SELECT"|translate}}
<br/>{{"SHARED.BUTTON.SERARCH"|translate}}
<br/>{{"SHARED.BUTTON.SET_LEGEND"|translate}}
<br/>{{"SHARED.BUTTON.SHOW_LIST"|translate}}
<br/>{{"SHARED.BUTTON.SKIP"|translate}}
<br/>{{"SHARED.BUTTON.TOOLS"|translate}}
<br/>{{"SHARED.BUTTON.USER_INFO"|translate}}
<br/>{{"SHARED.BUTTON.LOAD"|translate}}
<br/>{{"SHARED.BUTTON.UPLOAD"|translate}}
<br/>{{"SHARED.MESSAGE.ITEM_INPUT"|translate}}
<br/>{{"SHARED.MESSAGE.ITEM_REQUIRED"|translate}}
<br/>{{"SHARED.MESSAGE.ITEM_VALUE_INVALID"|translate}}
<br/>{{"SHARED.MESSAGE.CLICKED"|translate}}
<br/>{{"SHARED.MESSAGE.MAX_TAB_OPENED"|translate}}
<br/>{{"SHARED.MESSAGE.CHANGED_LANG"|translate}}
<br/>{{"SHARED.MESSAGE.Unlicensed"|translate}}
<br/>{{"SHARED.MESSAGE.DUPLICATED_NAME"|translate}}
<br/>{{"SHARED.COMPONENTS.DESCRIPTION"|translate}}
<br/>{{"SHARED.COMPONENTS.LOGIN.401"|translate}}
<br/>{{"SHARED.COMPONENTS.LOGIN.404"|translate}}
<br/>{{"SHARED.COMPONENTS.LOGIN.504"|translate}}
<br/>{{"SHARED.NOTIFY.INFO"|translate}}
<br/>{{"SHARED.NOTIFY.SUCCESS"|translate}}
<br/>{{"SHARED.NOTIFY.WARNING"|translate}}
<br/>{{"SHARED.NOTIFY.ERROR"|translate}}
<br/>{{"SHARED.CHART-FEATURE-BAR.BUTTON.ExportPrint"|translate}}
<br/>{{"SHARED.CHART-FEATURE-BAR.BUTTON.ExportPNG"|translate}}
<br/>{{"SHARED.CHART-FEATURE-BAR.BUTTON.ExportJPEG"|translate}}
<br/>{{"SHARED.CHART-FEATURE-BAR.BUTTON.ExportPDF"|translate}}
<br/>{{"SHARED.CHART-FEATURE-BAR.BUTTON.ExportSVG"|translate}}
<br/>{{"SHARED.CHART-FEATURE-BAR.BUTTON.ExportCSV"|translate}}
<br/>{{"SHARED.CHART-FEATURE-BAR.BUTTON.ExportXLS"|translate}}
