<p>spc works!</p>



  <br/>{{"SPC.MESSAGE.NAME_DUPLICATE.GROUP"|translate}}
  <br/>{{"SPC.MESSAGE.NAME_DUPLICATE.MODEL"|translate}}
  <br/>{{"SPC.MESSAGE.DUPLICATE.RULE"|translate}}
  <br/>{{"SPC.MESSAGE.DUPLICATE.MODEL"|translate}}
  <br/>{{"SPC.MESSAGE.INPUT.COMMON"|translate}}
  <br/>{{"SPC.MESSAGE.INPUT.GROUP"|translate}}
  <br/>{{"SPC.MESSAGE.INPUT.LENGTH_LIMIT"|translate}}
  <br/>{{"SPC.MESSAGE.INPUT.INVALID_VALUE"|translate}}
  <br/>{{"SPC.MESSAGE.CREATED.GROUP"|translate}}
  <br/>{{"SPC.MESSAGE.CREATED.MODEL"|translate}}
  <br/>{{"SPC.MESSAGE.CREATED.GROUP_LEVEL"|translate}}
  <br/>{{"SPC.MESSAGE.MODIFIED.GROUP"|translate}}
  <br/>{{"SPC.MESSAGE.MODIFIED.MODEL"|translate}}
  <br/>{{"SPC.MESSAGE.MODIFIED.NO_MODIFY"|translate}}
  <br/>{{"SPC.MESSAGE.DELETE.NO_GROUP_SELECT"|translate}}
  <br/>{{"SPC.MESSAGE.DELETE.MAIN_CHART"|translate}}
  <br/>{{"SPC.MESSAGE.DELETE.VERSION_DELETE"|translate}}
  <br/>{{"SPC.MESSAGE.FILE.IMPORT.NO_DATA"|translate}}
  <br/>{{"SPC.MESSAGE.FILE.IMPORT.NO_DATA_UPDATE"|translate}}
  <br/>{{"SPC.MESSAGE.FILE.IMPORT.MULTIPLE"|translate}}
  <br/>{{"SPC.MESSAGE.FILE.IMPORT.INVALID"|translate}}
  <br/>{{"SPC.MESSAGE.FILE.IMPORT.ROOT_UNAVAIL"|translate}}
  <br/>{{"SPC.MESSAGE.FILE.IMPORT.ESSENTIAL_COL"|translate}}
  <br/>{{"SPC.MESSAGE.FILE.IMPORT.GROUP_ADD"|translate}}
  <br/>{{"SPC.MESSAGE.FILE.IMPORT.GROUP_UPDATE"|translate}}
  <br/>{{"SPC.MESSAGE.FILE.IMPORT.GROUP_ADD_UPDATE"|translate}}
  <br/>{{"SPC.MESSAGE.FILE.IMPORT.GROUP_DUPLICATE_NAME"|translate}}
  <br/>{{"SPC.MESSAGE.FILE.IMPORT.MODEL_MOVE"|translate}}
  <br/>{{"SPC.MESSAGE.FILE.EXPORT.NO_DATA"|translate}}
  <br/>{{"SPC.MESSAGE.SELECT.COMMON"|translate}}
  <br/>{{"SPC.MESSAGE.SELECT.RECORD"|translate}}
  <br/>{{"SPC.MESSAGE.SELECT.AT_LEAST"|translate}}
  <br/>{{"SPC.MESSAGE.SELECT.GREATER_THAN"|translate}}
  <br/>{{"SPC.MESSAGE.SELECT.SUB_CHART"|translate}}
  <br/>{{"SPC.MESSAGE.SELECT.META_MODULE"|translate}}
  <br/>{{"SPC.MESSAGE.SELECT.MODEL_CHART"|translate}}
  <br/>{{"SPC.MESSAGE.SELECT.MODEL_MOVE"|translate}}
  <br/>{{"SPC.MESSAGE.SELECT.GROUP_TO_MOVE"|translate}}
  <br/>{{"SPC.MESSAGE.SELECT.COPY"|translate}}
  <br/>{{"SPC.MESSAGE.SELECT.SEARCH_PERIOD"|translate}}
  <br/>{{"SPC.MESSAGE.SELECT.SUM_CHART_FILTER_OPTION"|translate}}
  <br/>{{"SPC.MESSAGE.VALUE_CHECK.COMMON"|translate}}
  <br/>{{"SPC.MESSAGE.VALUE_CHECK.NUMERIC"|translate}}
  <br/>{{"SPC.MESSAGE.VALUE_CHECK.POSITIVE_NUMERIC"|translate}}
  <br/>{{"SPC.MESSAGE.VALUE_CHECK.GREATER_0_NUMERIC"|translate}}
  <br/>{{"SPC.MESSAGE.ABNORMAL.Y_N"|translate}}
  <br/>{{"SPC.MESSAGE.ABNORMAL.MODEL_ID"|translate}}
  <br/>{{"SPC.MESSAGE.ABNORMAL.DATA"|translate}}
  <br/>{{"SPC.MESSAGE.ABNORMAL.ERRMSG"|translate}}
  <br/>{{"SPC.MESSAGE.UNKNOWN_ERROR"|translate}}
  <br/>{{"SPC.MESSAGE.MODEL.NOT_FOUND_SUM_PARAM"|translate}}
  <br/>{{"SPC.MESSAGE.SUCCESS.CONFIRM"|translate}}
  <br/>{{"SPC.MESSAGE.SUCCESS.REUSE_VERSION"|translate}}
  <br/>{{"SPC.MESSAGE.SUCCESS.DELETE_VERSION"|translate}}
  <br/>{{"SPC.MESSAGE.CONFIRM.REUSE"|translate}}
  <br/>{{"SPC.MESSAGE.CONFIRM.LOST_EDITING"|translate}}
  <br/>{{"SPC.MESSAGE.CONFIRM.SAVE_MODEL"|translate}}
  <br/>{{"SPC.MESSAGE.CONFIRM.MAIN_CONTEXT_GROUP_CHANGE"|translate}}
  <br/>{{"SPC.MESSAGE.CONFIRM.DELETE_MODEL"|translate}}
  <br/>{{"SPC.MESSAGE.CONFIRM.DELETE_MODEL_CONFIG"|translate}}
  <br/>{{"SPC.MESSAGE.CONFIRM.DELETE_MODEL_CONFIG_LOST_EDITING"|translate}}
  <br/>{{"SPC.MESSAGE.CONFIRM.DELETE_VERSION"|translate}}
  <br/>{{"SPC.MESSAGE.CONFIRM.CHART_SIMUL_SPEC_REDRAW"|translate}}
  <br/>{{"SPC.MESSAGE.VALIDATION.SPC_COMPARE.CONDITION_REQUIRED"|translate}}
  <br/>{{"SPC.MESSAGE.VALIDATION.SPC_COMPARE.SELECT_CHART_ID"|translate}}
  <br/>{{"SPC.MESSAGE.VALIDATION.SPC_COMPARE.DEFFERENT_MAIN_YN"|translate}}
  <br/>{{"SPC.MESSAGE.MSG"|translate}}
  <br/>{{"SPC.BUTTON.ADD_RULE"|translate}}
  <br/>{{"SPC.BUTTON.ADD_CONTEXT"|translate}}
  <br/>{{"SPC.BUTTON.VERSION_COMPARE"|translate}}
  <br/>{{"SPC.BUTTON.VIEW_CHART"|translate}}
  <br/>{{"SPC.BUTTON.DRAW_CHART"|translate}}
  <br/>{{"SPC.BUTTON.BACK"|translate}}
  <br/>{{"SPC.BUTTON.NEXT"|translate}}
  <br/>{{"SPC.BUTTON.SKIP"|translate}}
  <br/>{{"SPC.BUTTON.MOVE_UP"|translate}}
  <br/>{{"SPC.BUTTON.MOVE_DOWN"|translate}}
  <br/>{{"SPC.BUTTON.COLLAPSE_ALL"|translate}}
  <br/>{{"SPC.BUTTON.EXPAND_ALL"|translate}}
  <br/>{{"SPC.BUTTON.CREATE"|translate}}
  <br/>{{"SPC.BUTTON.CONFIRM"|translate}}
  <br/>{{"SPC.BUTTON.MODIFY"|translate}}
  <br/>{{"SPC.LABEL.COMMON.TYPE"|translate}}
  <br/>{{"SPC.LABEL.COMMON.CODE"|translate}}
  <br/>{{"SPC.LABEL.COMMON.NAME"|translate}}
  <br/>{{"SPC.LABEL.COMMON.DESCRIPTION"|translate}}
  <br/>{{"SPC.LABEL.COMMON.NO"|translate}}
  <br/>{{"SPC.LABEL.COMMON.SELECT"|translate}}
  <br/>{{"SPC.LABEL.COMMON.CREATE_AT"|translate}}
  <br/>{{"SPC.LABEL.COMMON.UPDATE_AT"|translate}}
  <br/>{{"SPC.LABEL.COMMON.CHART_TYPE"|translate}}
  <br/>{{"SPC.LABEL.COMMON.RULE"|translate}}
  <br/>{{"SPC.LABEL.COMMON.RULE_RESULT"|translate}}
  <br/>{{"SPC.LABEL.COMMON.RULE_NAME"|translate}}
  <br/>{{"SPC.LABEL.COMMON.OOC"|translate}}
  <br/>{{"SPC.LABEL.COMMON.OPTION"|translate}}
  <br/>{{"SPC.LABEL.COMMON.VALUE"|translate}}
  <br/>{{"SPC.LABEL.COMMON.LIMIT"|translate}}
  <br/>{{"SPC.LABEL.COMMON.RESET"|translate}}
  <br/>{{"SPC.LABEL.COMMON.SPC"|translate}}
  <br/>{{"SPC.LABEL.TAB.MODEL"|translate}}
  <br/>{{"SPC.LABEL.TAB.CHART"|translate}}
  <br/>{{"SPC.LABEL.TAB.LIMIT"|translate}}
  <br/>{{"SPC.LABEL.TAB.RULE"|translate}}
  <br/>{{"SPC.LABEL.TAB.OPTMZ"|translate}}
  <br/>{{"SPC.LABEL.TAB.OPTMZ_SCHEDULE"|translate}}
  <br/>{{"SPC.LABEL.TAB.OPTMZ_CALC"|translate}}
  <br/>{{"SPC.LABEL.CONFIG.SPC_MODEL_NAME"|translate}}
  <br/>{{"SPC.LABEL.CONFIG.SPC_MODEL_GROUP"|translate}}
  <br/>{{"SPC.LABEL.CONFIG.SPC_MODEL_CONFIG_ID"|translate}}
  <br/>{{"SPC.LABEL.CONFIG.DESCRIPTION"|translate}}
  <br/>{{"SPC.LABEL.CONFIG.MAIN"|translate}}
  <br/>{{"SPC.LABEL.CONFIG.SUM_PARAM"|translate}}
  <br/>{{"SPC.LABEL.CONFIG.SUM_STATISTICS"|translate}}
  <br/>{{"SPC.LABEL.CONFIG.SPC_DATA_LEVEL"|translate}}
  <br/>{{"SPC.LABEL.CONFIG.ACTIVATION"|translate}}
  <br/>{{"SPC.LABEL.CONFIG.INTERLOCK"|translate}}
  <br/>{{"SPC.LABEL.CONFIG.AUTO_CALC"|translate}}
  <br/>{{"SPC.LABEL.CONFIG.INHERIT_UPDATE_MAIN"|translate}}
  <br/>{{"SPC.LABEL.CONFIG.CHART_MODE"|translate}}
  <br/>{{"SPC.LABEL.CONFIG.AUTO_SUB_CHART"|translate}}
  <br/>{{"SPC.LABEL.CONFIG.SUB_CHART_INTERLOCK"|translate}}
  <br/>{{"SPC.LABEL.CONFIG.SUB_CHART_AUTO_CALC"|translate}}
  <br/>{{"SPC.LABEL.CONFIG.CONTEXT.CONTEXT"|translate}}
  <br/>{{"SPC.LABEL.CONFIG.CONTEXT.CONTEXT_KEY"|translate}}
  <br/>{{"SPC.LABEL.CONFIG.CONTEXT.CONTEXT_VALUE"|translate}}
  <br/>{{"SPC.LABEL.CONFIG.CONTEXT.VALUE"|translate}}
  <br/>{{"SPC.LABEL.CONFIG.CONTEXT.EXCLUDE"|translate}}
  <br/>{{"SPC.LABEL.CONFIG.CONTEXT.GROUP"|translate}}
  <br/>{{"SPC.LABEL.CONFIG.CONTEXT.ORDER"|translate}}
  <br/>{{"SPC.LABEL.CONFIG.CHART_LIMIT.CONTROL_CHART"|translate}}
  <br/>{{"SPC.LABEL.CONFIG.CHART_LIMIT.SPEC_LIMIT"|translate}}
  <br/>{{"SPC.LABEL.CONFIG.CHART_LIMIT.MOVING_OPTIONS"|translate}}
  <br/>{{"SPC.LABEL.CONFIG.CHART_LIMIT.MEAN_ZONE"|translate}}
  <br/>{{"SPC.LABEL.CONFIG.CHART_LIMIT.ZONE"|translate}}
  <br/>{{"SPC.LABEL.CONFIG.CHART_LIMIT.ZONE_A"|translate}}
  <br/>{{"SPC.LABEL.CONFIG.CHART_LIMIT.ZONE_B"|translate}}
  <br/>{{"SPC.LABEL.CONFIG.CHART_LIMIT.ZONE_C"|translate}}
  <br/>{{"SPC.LABEL.CONFIG.CHART_LIMIT.USE_OFFSET"|translate}}
  <br/>{{"SPC.LABEL.CONFIG.CHART_LIMIT.USL"|translate}}
  <br/>{{"SPC.LABEL.CONFIG.CHART_LIMIT.UCL"|translate}}
  <br/>{{"SPC.LABEL.CONFIG.CHART_LIMIT.CENTER"|translate}}
  <br/>{{"SPC.LABEL.CONFIG.CHART_LIMIT.TARGET"|translate}}
  <br/>{{"SPC.LABEL.CONFIG.CHART_LIMIT.LCL"|translate}}
  <br/>{{"SPC.LABEL.CONFIG.CHART_LIMIT.LSL"|translate}}
  <br/>{{"SPC.LABEL.CONFIG.CHART_LIMIT.UCL_OFFSET"|translate}}
  <br/>{{"SPC.LABEL.CONFIG.CHART_LIMIT.LCL_OFFSET"|translate}}
  <br/>{{"SPC.LABEL.CONFIG.CHART_LIMIT.EWMA_LAMBDA"|translate}}
  <br/>{{"SPC.LABEL.CONFIG.CHART_LIMIT.MOVING_SAMPLE_COUNT"|translate}}
  <br/>{{"SPC.LABEL.CONFIG.CHART_LIMIT.MEAN_STD"|translate}}
  <br/>{{"SPC.LABEL.CONFIG.RULE.SPC_RULE"|translate}}
  <br/>{{"SPC.LABEL.CONFIG.RULE.SPC_RULE_NUMBER"|translate}}
  <br/>{{"SPC.LABEL.CONFIG.RULE.SPC_RULE_OPT"|translate}}
  <br/>{{"SPC.LABEL.CONFIG.RULE.ALARM_LEVEL"|translate}}
  <br/>{{"SPC.LABEL.CONFIG.RULE.RULE_ORDER"|translate}}
  <br/>{{"SPC.LABEL.CONFIG.RULE.OCAP"|translate}}
  <br/>{{"SPC.LABEL.CONFIG.RULE.RULE_IMAGE"|translate}}
  <br/>{{"SPC.LABEL.CONFIG.OPTMZ.DAYS"|translate}}
  <br/>{{"SPC.LABEL.CONFIG.OPTMZ.WAFERS"|translate}}
  <br/>{{"SPC.LABEL.CONFIG.OPTMZ.COUNTS"|translate}}
  <br/>{{"SPC.LABEL.CONFIG.OPTMZ.NO_END"|translate}}
  <br/>{{"SPC.LABEL.CONFIG.OPTMZ.NO_END_DESC"|translate}}
  <br/>{{"SPC.LABEL.CONFIG.OPTMZ.AUTO_CALC_TYPE"|translate}}
  <br/>{{"SPC.LABEL.CONFIG.OPTMZ.AUTO_CALC_SCHEDULE"|translate}}
  <br/>{{"SPC.LABEL.CONFIG.OPTMZ.AUTO_CALC_COUNT"|translate}}
  <br/>{{"SPC.LABEL.CONFIG.OPTMZ.SCHED_EXECUTION_PERIOD"|translate}}
  <br/>{{"SPC.LABEL.CONFIG.OPTMZ.SCHED_MIN_SAMPLES"|translate}}
  <br/>{{"SPC.LABEL.CONFIG.OPTMZ.SCHED_DEFAULT_SAMPLE_PERIOD"|translate}}
  <br/>{{"SPC.LABEL.CONFIG.OPTMZ.SCHED_MAX_SAMPLE_PERIOD"|translate}}
  <br/>{{"SPC.LABEL.CONFIG.OPTMZ.SCHED_WITHOUT_IQR_YN"|translate}}
  <br/>{{"SPC.LABEL.CONFIG.OPTMZ.SCHED_AUTO_CALC_COUNT"|translate}}
  <br/>{{"SPC.LABEL.CONFIG.OPTMZ.SCHED_CURRENT_COUNT"|translate}}
  <br/>{{"SPC.LABEL.CONFIG.OPTMZ.OPTION"|translate}}
  <br/>{{"SPC.LABEL.CONFIG.OPTMZ.RAW_CHART"|translate}}
  <br/>{{"SPC.LABEL.CONFIG.OPTMZ.STATS_CHART"|translate}}
  <br/>{{"SPC.LABEL.CONFIG.OPTMZ.CNT_SAMPLE_PERIOD"|translate}}
  <br/>{{"SPC.LABEL.CONFIG.OPTMZ.CNT_SAMPLE_COUNT"|translate}}
  <br/>{{"SPC.LABEL.CONFIG.OPTMZ.CNT_AUTO_CALC_COUNT"|translate}}
  <br/>{{"SPC.LABEL.CONFIG.OPTMZ.CNT_CURRENT_COUNT"|translate}}
  <br/>{{"SPC.LABEL.CONFIG.OPTMZ.CNT_LIMIT_DESC"|translate}}
  <br/>{{"SPC.LABEL.CONFIG.OPTMZ.CNT_WITHOUT_OOS_YN"|translate}}
  <br/>{{"SPC.LABEL.CONFIG.OPTMZ.CNT_RAW_SAMPLE_PERIOD"|translate}}
  <br/>{{"SPC.LABEL.CONFIG.OPTMZ.CNT_RAW_SAMPLE_COUNT"|translate}}
  <br/>{{"SPC.LABEL.CONFIG.OPTMZ.CNT_RAW_AUTO_CALC_COUNT"|translate}}
  <br/>{{"SPC.LABEL.CONFIG.OPTMZ.CNT_RAW_CURRENT_COUNT"|translate}}
  <br/>{{"SPC.LABEL.CONFIG.OPTMZ.CNT_STATS_SAMPLE_PERIOD"|translate}}
  <br/>{{"SPC.LABEL.CONFIG.OPTMZ.CNT_STATS_SAMPLE_COUNT"|translate}}
  <br/>{{"SPC.LABEL.CONFIG.OPTMZ.CNT_STATS_AUTO_CALC_COUNT"|translate}}
  <br/>{{"SPC.LABEL.CONFIG.OPTMZ.CNT_STATS_CURRENT_COUNT"|translate}}
  <br/>{{"SPC.LABEL.CONFIG.OPTMZ.USE_CONTROL_THRESHOLD_YN"|translate}}
  <br/>{{"SPC.LABEL.CONFIG.OPTMZ.CONTROL_THRESHOLD"|translate}}
  <br/>{{"SPC.LABEL.CONFIG.OPTMZ.CONTROL_THRESHOLD_SUFFIX"|translate}}
  <br/>{{"SPC.LABEL.CONFIG.OPTMZ.SKIP_COMPARISON_PRE_CL"|translate}}
  <br/>{{"SPC.LABEL.CONFIG.OPTMZ.AUTO_CALC_WITH_SHIFT"|translate}}
  <br/>{{"SPC.LABEL.CONFIG.OPTMZ.USE_GLOBAL"|translate}}
  <br/>{{"SPC.LABEL.CONFIG.OPTMZ.CONTROL_LIMIT"|translate}}
  <br/>{{"SPC.LABEL.CONFIG.OPTMZ.CHART.CONTROL_CHART"|translate}}
  <br/>{{"SPC.LABEL.CONFIG.OPTMZ.CHART.CALC_YN"|translate}}
  <br/>{{"SPC.LABEL.CONFIG.OPTMZ.CHART.CURRENT_COUNT"|translate}}
  <br/>{{"SPC.LABEL.CONFIG.OPTMZ.CHART.TOLERANCE"|translate}}
  <br/>{{"SPC.LABEL.CONFIG.OPTMZ.CHART.CALC_TYPE"|translate}}
  <br/>{{"SPC.LABEL.CONFIG.OPTMZ.CHART.CALC_SIDED"|translate}}
  <br/>{{"SPC.LABEL.CHART_SIMUL.SHOW_OUTLIER"|translate}}
  <br/>{{"SPC.LABEL.CHART_SIMUL.SET_OUTLIER"|translate}}
  <br/>{{"SPC.LABEL.CHART_SIMUL.USE_UCL"|translate}}
  <br/>{{"SPC.LABEL.CHART_SIMUL.USE_AVG"|translate}}
  <br/>{{"SPC.LABEL.CHART_SIMUL.CALC_SPEC_TITLE"|translate}}
  <br/>{{"SPC.LABEL.CHART_SIMUL.CALC_SIDED"|translate}}
  <br/>{{"SPC.LABEL.CHART_SIMUL.DRAW_LIMIT"|translate}}
  <br/>{{"SPC.LABEL.CHART_SIMUL.DATA_SOURCE"|translate}}
  <br/>{{"SPC.LABEL.CHART_SIMUL.SUM_RAW_DATA"|translate}}
  <br/>{{"SPC.LABEL.CHART_SIMUL.DATA_FILTER_OPTION"|translate}}
  <br/>{{"SPC.LABEL.CHART_SIMUL.SAMPLING"|translate}}
  <br/>{{"SPC.LABEL.CHART_SIMUL.SAMPLE_PERIOD"|translate}}
  <br/>{{"SPC.LABEL.CHART_SIMUL.SAMPLE_COUNT"|translate}}
  <br/>{{"SPC.LABEL.CHART_SIMUL.RAW_DATA"|translate}}
  <br/>{{"SPC.LABEL.CHART_SIMUL.OUTLIER_ITEM"|translate}}
  <br/>{{"SPC.RESULT.MESSAGE.SAVED.ANNOTATION"|translate}}
  <br/>{{"SPC.RESULT.MESSAGE.SAVED.COMMENT"|translate}}
  <br/>{{"SPC.RESULT.MESSAGE.SAVED.EXCLUDE_INCLUDE_DATA"|translate}}
  <br/>{{"SPC.RESULT.MESSAGE.SELECT.STATUS_AND_JUDGEMENT"|translate}}
  <br/>{{"SPC.RESULT.MESSAGE.SELECT.INVALID_CONDITION"|translate}}
  <br/>{{"SPC.RESULT.MESSAGE.CHART.NO_DATA"|translate}}
  <br/>{{"SPC.RESULT.BUTTON.DRAW_CHART"|translate}}
  <br/>{{"SPC.RESULT.BUTTON.CONTEXT"|translate}}
  <br/>{{"SPC.RESULT.BUTTON.REFRESH"|translate}}
  <br/>{{"SPC.RESULT.BUTTON.SPC_MODEL"|translate}}
  <br/>{{"SPC.RESULT.LABEL.CONTEXT"|translate}}
  <br/>{{"SPC.RESULT.LABEL.CHART_ID"|translate}}
  <br/>{{"SPC.RESULT.LABEL.CSV_EXPORT"|translate}}
  <br/>{{"SPC.RESULT.LABEL.EXCEL_EXPORT"|translate}}
  <br/>{{"SPC.RESULT.LABEL.BUTTON_APPLY_LABEL"|translate}}
  <br/>{{"SPC.RESULT.LABEL.BUTTON_CANCEL_LABEL"|translate}}
  <br/>{{"SPC.RESULT.LABEL.BUTTON_SAVE_LABEL"|translate}}
  <br/>{{"SPC.RESULT.LABEL.MEAN_CHART"|translate}}
  <br/>{{"SPC.RESULT.LABEL.STD_CHART"|translate}}
  <br/>{{"SPC.RESULT.LABEL.RANGE_CHART"|translate}}
  <br/>{{"SPC.RESULT.LABEL.EWMA_MEAN_CHART"|translate}}
  <br/>{{"SPC.RESULT.LABEL.EWMA_STD_CHART"|translate}}
  <br/>{{"SPC.RESULT.LABEL.EWMA_RANGE_CHART"|translate}}
  <br/>{{"SPC.RESULT.LABEL.MA_CHART"|translate}}
  <br/>{{"SPC.RESULT.LABEL.MS_CHART"|translate}}
  <br/>{{"SPC.RESULT.LABEL.MR_CHART"|translate}}
  <br/>{{"SPC.RESULT.LABEL.COMMENT_PLACEHOLDER"|translate}}
  <br/>{{"SPC.RESULT.LABEL.STATUS"|translate}}
  <br/>{{"SPC.RESULT.LABEL.JUDGEMENT"|translate}}
  <br/>{{"SPC.RESULT.LABEL.CLASSIFICATION"|translate}}
  <br/>{{"SPC.RESULT.LABEL.COMMENT"|translate}}
  <br/>{{"SPC.RESULT.LABEL.STATUS_OPEN"|translate}}
  <br/>{{"SPC.RESULT.LABEL.STATUS_IN_PROGRESS"|translate}}
  <br/>{{"SPC.RESULT.LABEL.STATUS_REVIEWED"|translate}}
  <br/>{{"SPC.RESULT.LABEL.JUDGEMENT_UNKNOWN"|translate}}
  <br/>{{"SPC.RESULT.LABEL.JUDGEMENT_TRUE"|translate}}
  <br/>{{"SPC.RESULT.LABEL.JUDGEMENT_FALSE"|translate}}
  <br/>{{"SPC.RESULT.LABEL.MODULE_ALIAS"|translate}}
  <br/>{{"SPC.RESULT.LABEL.EXCLUDE_DATA"|translate}}
  <br/>{{"SPC.RESULT.LABEL.SHOW_EXCLUDE_DATA"|translate}}
  <br/>{{"SPC.RESULT.LABEL.INCLUDE_DATA"|translate}}
  <br/>{{"SPC.RESULT.LABEL.SAVE_EXCLUDE_INCLUDE_DATA"|translate}}
  <br/>{{"SPC.RESULT.LABEL.ANNOTATE_OCAP"|translate}}
  <br/>{{"SPC.RESULT.LABEL.ANNOTATED_OCAP"|translate}}
  <br/>{{"SPC.RESULT.LABEL.ANNOTATION_OCAP"|translate}}
  <br/>{{"SPC.RESULT.LABEL.SHOW_CHART_DATA_PROPERTY"|translate}}
  <br/>{{"SPC.RESULT.LABEL.CHART_SERIES_GROUPING"|translate}}
  <br/>{{"SPC.RESULT.LABEL.CHART_CONFIGURATION"|translate}}
  <br/>{{"SPC.RESULT.LABEL.CHART_DATA"|translate}}
  <br/>{{"SPC.RESULT.LABEL.CHART_DATA_FILTERING"|translate}}
  <br/>{{"SPC.RESULT.LABEL.META_MODULE"|translate}}
  <br/>{{"SPC.RESULT.LABEL.SPC_MODEL_GROUP"|translate}}
  <br/>{{"SPC.RESULT.LABEL.SPC_MODEL_NAME"|translate}}
  <br/>{{"SPC.RESULT.LABEL.EQP_ID"|translate}}
  <br/>{{"SPC.RESULT.LABEL.MODULE"|translate}}
  <br/>{{"SPC.RESULT.LABEL.LOT_ID"|translate}}
  <br/>{{"SPC.RESULT.LABEL.SUBSTRATE_ID"|translate}}
  <br/>{{"SPC.RESULT.LABEL.CASSETTE_SLOT"|translate}}
  <br/>{{"SPC.RESULT.LABEL.PRODUCT_ID"|translate}}
  <br/>{{"SPC.RESULT.LABEL.OPERATION_ID"|translate}}
  <br/>{{"SPC.RESULT.LABEL.RECIPE_ID"|translate}}
  <br/>{{"SPC.RESULT.LABEL.TIME"|translate}}
  <br/>{{"SPC.RESULT.LABEL.TIME_ROW"|translate}}
  <br/>{{"SPC.RESULT.LABEL.STEP_ID"|translate}}
  <br/>{{"SPC.RESULT.LABEL.VALUE"|translate}}
  <br/>{{"SPC.RESULT.LABEL.USL"|translate}}
  <br/>{{"SPC.RESULT.LABEL.LSL"|translate}}
  <br/>{{"SPC.RESULT.LABEL.UCL"|translate}}
  <br/>{{"SPC.RESULT.LABEL.LCL"|translate}}
  <br/>{{"SPC.RESULT.LABEL.TARGET"|translate}}
  <br/>{{"SPC.RESULT.LABEL.MIN"|translate}}
  <br/>{{"SPC.RESULT.LABEL.MAX"|translate}}
  <br/>{{"SPC.RESULT.LABEL.SNAPSHOT"|translate}}
