<p>fwui works!</p>


<br/>{{"FWUI.LABEL.MODAL04-SAMPLE01.HEADER"| translate }}
<br/>{{"FWUI.LABEL.MODAL04-SAMPLE01.TITLE" | translate }}
<br/>{{"FWUI.LABEL.MODAL04-SAMPLE01.CONTENTS"| translate }}
<br/>{{"FWUI.LABEL.MODAL04-SAMPLE01.BUTTON-DEPLOY-LATER"| translate }}
<br/>{{"FWUI.LABEL.MODAL04-SAMPLE01.BUTTON-DEPLOY"| translate }}
<br/>{{"FWUI.LABEL.MODAL04-SAMPLE02.HEADER"| translate }}
<br/>{{"FWUI.LABEL.MODAL04-SAMPLE02.TITLE"| translate }}
<br/>{{"FWUI.LABEL.MODAL04-SAMPLE02.CONTENTS"| translate }}


