<p>mi works!</p>



  <br/>{{"MI.Login.rememberMe"|translate}}
  <br/>{{"MI.Login.forgotPassword"|translate}}
  <br/>{{"MI.Login.registerNow"|translate}}
  <br/>{{"MI.Login.login"|translate}}
  <br/>{{"MI.Login.password"|translate}}
  <br/>{{"MI.Login.error.reqUserName"|translate}}
  <br/>{{"MI.Login.error.reqPassword"|translate}}
  <br/>{{"MI.Login.error.401"|translate}}
  <br/>{{"MI.Login.error.50x"|translate}}
  <br/>{{"MI.Login.error.unknown"|translate}}
  <br/>{{"MI.Login.copyRight"|translate}}
  <br/>{{"MI.AppManagement.seeAll"|translate}}
  <br/>{{"MI.AppManagement.seeSome"|translate}}
  <br/>{{"MI.SystemConfig.add"|translate}}
  <br/>{{"MI.SystemConfig.addAttribute"|translate}}
  <br/>{{"MI.SystemConfig.addCategoryName"|translate}}
  <br/>{{"MI.SystemConfig.AddEmpty"|translate}}
  <br/>{{"MI.SystemConfig.addGroup"|translate}}
  <br/>{{"MI.SystemConfig.addMembers"|translate}}
  <br/>{{"MI.SystemConfig.addMenu"|translate}}
  <br/>{{"MI.SystemConfig.addRole"|translate}}
  <br/>{{"MI.SystemConfig.addSubmenu"|translate}}
  <br/>{{"MI.SystemConfig.addWidget"|translate}}
  <br/>{{"MI.SystemConfig.admin"|translate}}
  <br/>{{"MI.SystemConfig.assign"|translate}}
  <br/>{{"MI.SystemConfig.assignGroups"|translate}}
  <br/>{{"MI.SystemConfig.assignGroupsFromList"|translate}}
  <br/>{{"MI.SystemConfig.assignRole"|translate}}
  <br/>{{"MI.SystemConfig.assignRoles"|translate}}
  <br/>{{"MI.SystemConfig.application"|translate}}
  <br/>{{"MI.SystemConfig.appMenuConfiguration"|translate}}
  <br/>{{"MI.SystemConfig.appMenuTitle"|translate}}
  <br/>{{"MI.SystemConfig.attributeManage"|translate}}
  <br/>{{"MI.SystemConfig.cancel"|translate}}
  <br/>{{"MI.SystemConfig.cancelChange"|translate}}
  <br/>{{"MI.SystemConfig.cancelChangeMsg"|translate}}
  <br/>{{"MI.SystemConfig.DeleteEmpty"|translate}}
  <br/>{{"MI.SystemConfig.defaultTabOption"|translate}}
  <br/>{{"MI.SystemConfig.delete"|translate}}
  <br/>{{"MI.SystemConfig.deleteMenu"|translate}}
  <br/>{{"MI.SystemConfig.description"|translate}}
  <br/>{{"MI.SystemConfig.discardChange"|translate}}
  <br/>{{"MI.SystemConfig.discardChangeMsg"|translate}}
  <br/>{{"MI.SystemConfig.Empty"|translate}}
  <br/>{{"MI.SystemConfig.Error"|translate}}
  <br/>{{"MI.SystemConfig.edit"|translate}}
  <br/>{{"MI.SystemConfig.rename"|translate}}
  <br/>{{"MI.SystemConfig.update"|translate}}
  <br/>{{"MI.SystemConfig.save"|translate}}
  <br/>{{"MI.SystemConfig.editRole"|translate}}
  <br/>{{"MI.SystemConfig.editProperties"|translate}}
  <br/>{{"MI.SystemConfig.group"|translate}}
  <br/>{{"MI.SystemConfig.groups"|translate}}
  <br/>{{"MI.SystemConfig.groupName"|translate}}
  <br/>{{"MI.SystemConfig.groupNameEmpty"|translate}}
  <br/>{{"MI.SystemConfig.groupNameDuplicate"|translate}}
  <br/>{{"MI.SystemConfig.icon"|translate}}
  <br/>{{"MI.SystemConfig.name"|translate}}
  <br/>{{"MI.SystemConfig.menuName"|translate}}
  <br/>{{"MI.SystemConfig.menuUrl"|translate}}
  <br/>{{"MI.SystemConfig.menuPageId"|translate}}
  <br/>{{"MI.SystemConfig.openInNewTab"|translate}}
  <br/>{{"MI.SystemConfig.renameGroup"|translate}}
  <br/>{{"MI.SystemConfig.RenameEmpty"|translate}}
  <br/>{{"MI.SystemConfig.roleManage"|translate}}
  <br/>{{"MI.SystemConfig.register"|translate}}
  <br/>{{"MI.SystemConfig.registerUser"|translate}}
  <br/>{{"MI.SystemConfig.reset"|translate}}
  <br/>{{"MI.SystemConfig.role"|translate}}
  <br/>{{"MI.SystemConfig.roleInfo"|translate}}
  <br/>{{"MI.SystemConfig.roleName"|translate}}
  <br/>{{"MI.SystemConfig.roleNameDuplicate"|translate}}
  <br/>{{"MI.SystemConfig.roleNameEmpty"|translate}}
  <br/>{{"MI.SystemConfig.roleSettings"|translate}}
  <br/>{{"MI.SystemConfig.SaveEmpty"|translate}}
  <br/>{{"MI.SystemConfig.showOnlySelectedItems"|translate}}
  <br/>{{"MI.SystemConfig.status"|translate}}
  <br/>{{"MI.SystemConfig.treeHere"|translate}}
  <br/>{{"MI.SystemConfig.users"|translate}}
  <br/>{{"MI.SystemConfig.widgetConfig"|translate}}
  <br/>{{"MI.Home.welcome"|translate}}
  <br/>{{"MI.Home.quickAccess"|translate}}
  <br/>{{"MI.Home.activity"|translate}}
  <br/>{{"MI.Home.addMenuTo"|translate}}
  <br/>{{"MI.Home.addMenuQuickAccess"|translate}}
  <br/>{{"MI.Home.quickAccessExisted"|translate}}
  <br/>{{"MI.Home.recentPages"|translate}}
  <br/>{{"MI.Menu.quickMenu"|translate}}
  <br/>{{"MI.Menu.myMenu"|translate}}
  <br/>{{"MI.Menu.appManagement"|translate}}
  <br/>{{"MI.Menu.configuration"|translate}}
  <br/>{{"MI.Menu.unlicensed"|translate}}
  <br/>{{"MI.Menu.openBrowserTab"|translate}}
  <br/>{{"MI.Menu.openCurrentCondition"|translate}}
  <br/>{{"MI.Menu.openBrowserTabCurrentCondition"|translate}}
  <br/>{{"MI.Menu.err-0001"|translate}}
  <br/>{{"MI.DrillThrough.detail"|translate}}
  <br/>{{"MI.DrillThrough.gotoApplication"|translate}}
  <br/>{{"MI.UserSetting.myMenu.account"|translate}}
  <br/>{{"MI.UserSetting.myMenu.add"|translate}}
  <br/>{{"MI.UserSetting.myMenu.addCategory"|translate}}
  <br/>{{"MI.UserSetting.myMenu.addCategoryName"|translate}}
  <br/>{{"MI.UserSetting.myMenu.addMenu"|translate}}
  <br/>{{"MI.UserSetting.myMenu.activation"|translate}}
  <br/>{{"MI.UserSetting.myMenu.changePassword"|translate}}
  <br/>{{"MI.UserSetting.myMenu.confirm"|translate}}
  <br/>{{"MI.UserSetting.myMenu.confirmation"|translate}}
  <br/>{{"MI.UserSetting.myMenu.confirmNew"|translate}}
  <br/>{{"MI.UserSetting.myMenu.credential"|translate}}
  <br/>{{"MI.UserSetting.myMenu.createdAt"|translate}}
  <br/>{{"MI.UserSetting.myMenu.currentPassword"|translate}}
  <br/>{{"MI.UserSetting.myMenu.delete"|translate}}
  <br/>{{"MI.UserSetting.myMenu.deleteMenu"|translate}}
  <br/>{{"MI.UserSetting.myMenu.duplicateName"|translate}}
  <br/>{{"MI.UserSetting.myMenu.editProfile"|translate}}
  <br/>{{"MI.UserSetting.myMenu.email"|translate}}
  <br/>{{"MI.UserSetting.myMenu.firstName"|translate}}
  <br/>{{"MI.UserSetting.myMenu.forgotPassword"|translate}}
  <br/>{{"MI.UserSetting.myMenu.lastName"|translate}}
  <br/>{{"MI.UserSetting.myMenu.ID"|translate}}
  <br/>{{"MI.UserSetting.myMenu.rename"|translate}}
  <br/>{{"MI.UserSetting.myMenu.resetPassword"|translate}}
  <br/>{{"MI.UserSetting.myMenu.save"|translate}}
  <br/>{{"MI.UserSetting.myMenu.title"|translate}}
  <br/>{{"MI.UserSetting.myMenu.newPassword"|translate}}
  <br/>{{"MI.UserSetting.myMenu.update"|translate}}
  <br/>{{"MI.UserSetting.myMenu.userDetails"|translate}}
  <br/>{{"MI.UserSetting.myMenu.userProfile"|translate}}
  <br/>{{"MI.UserSetting.myMenu.userSettings"|translate}}
  <br/>{{"MI.UserSetting.notifications"|translate}}
  <br/>{{"MI.UserSetting.preferences"|translate}}
  <br/>{{"MI.Missing"|translate}}
  <br/>{{"MI.MYMENU.Duplicate_Name"|translate}}
  <br/>{{"MI.Conditions.applied"|translate}}
  <br/>{{"MI.Conditions.appliedHistory"|translate}}
  <br/>{{"MI.Conditions.addCondition"|translate}}
  <br/>{{"MI.Conditions.condition"|translate}}
  <br/>{{"MI.Conditions.conditions"|translate}}
  <br/>{{"MI.Conditions.conditionTitle"|translate}}
  <br/>{{"MI.Conditions.clearAll"|translate}}
  <br/>{{"MI.Conditions.createNew"|translate}}
  <br/>{{"MI.Conditions.date"|translate}}
  <br/>{{"MI.Conditions.defaultCondition"|translate}}
  <br/>{{"MI.Conditions.horizontalWindow"|translate}}
  <br/>{{"MI.Conditions.manageConditions"|translate}}
  <br/>{{"MI.Conditions.overWrite"|translate}}
  <br/>{{"MI.Conditions.overWriting"|translate}}
  <br/>{{"MI.Conditions.page"|translate}}
  <br/>{{"MI.Conditions.recentlyApplied"|translate}}
  <br/>{{"MI.Conditions.saveCondition"|translate}}
  <br/>{{"MI.Conditions.savedCondition"|translate}}
  <br/>{{"MI.Conditions.savedConditions"|translate}}
  <br/>{{"MI.Conditions.savedPage"|translate}}
  <br/>{{"MI.Conditions.saveType"|translate}}
  <br/>{{"MI.Conditions.saveAs"|translate}}
  <br/>{{"MI.Conditions.selectedConditions"|translate}}
  <br/>{{"MI.Conditions.setDefault"|translate}}
  <br/>{{"MI.Conditions.settings"|translate}}
  <br/>{{"MI.Conditions.unsetDefault"|translate}}
  <br/>{{"MI.Conditions.verticalWindow"|translate}}
  <br/>{{"MI.Conditions.windowtype"|translate}}
  <br/>{{"MI.SavePage.editTitle"|translate}}
  <br/>{{"MI.SavePage.savePage"|translate}}
  <br/>{{"MI.SavePage.noSaved"|translate}}
  <br/>{{"MI.WebSocket.state"|translate}}
  <br/>{{"MI.WebSocket.send"|translate}}
  <br/>{{"MI.WebSocket.disconnect"|translate}}
