<p>dss works!</p>



  <br/>{{ "DSS.LABEL.INPUT-SEARCH-TEXT"| translate}}
  <br/>{{ "DSS.LABEL.INPUT-SEARCH-TEXT-WITHIN"| translate}}
  <br/>{{ "DSS.LABEL.GROUP"| translate}}
  <br/>{{ "DSS.LABEL.USER"| translate}}
  <br/>{{ "DSS.LABEL.FIRST-NAME"| translate}}
  <br/>{{ "DSS.LABEL.LAST-NAME"| translate}}
  <br/>{{ "DSS.LABEL.PATH"| translate}}
  <br/>{{ "DSS.LABEL.NAME"| translate}}
  <br/>{{ "DSS.LABEL.LOT"| translate}}
  <br/>{{ "DSS.LABEL.WAFER"| translate}}
  <br/>{{ "DSS.LABEL.SOURCE"| translate}}
  <br/>{{ "DSS.LABEL.TARGET"| translate}}
  <br/>{{ "DSS.LABEL.OVERLAPPING"| translate}}
  <br/>{{ "DSS.LABEL.FAILED"| translate}}
  <br/>{{ "DSS.LABEL.COMPLETE"| translate}}
  <br/>{{ "DSS.LABEL.RESULTS"| translate}}
  <br/>{{ "DSS.LABEL.FILES"| translate}}
  <br/>{{ "DSS.LABEL.COLUMNS.ANALYSIS-STATUS"| translate}}
  <br/>{{ "DSS.LABEL.COLUMNS.SIZE"| translate}}
  <br/>{{ "DSS.LABEL.COLUMNS.CREATOR"| translate}}
  <br/>{{ "DSS.LABEL.COLUMNS.CREATION-TIME"| translate}}
  <br/>{{ "DSS.LABEL.COLUMNS.UPLOADER"| translate}}
  <br/>{{ "DSS.LABEL.COLUMNS.UPLOAD-TIME"| translate}}
  <br/>{{ "DSS.LABEL.COLUMNS.FILEPATH"| translate}}
  <br/>{{ "DSS.LABEL.COLUMNS.KEYWORDS"| translate}}
  <br/>{{ "DSS.LABEL.COLUMNS.CATEGORY"| translate}}
  <br/>{{ "DSS.LABEL.COLUMNS.VALUES"| translate}}
  <br/>{{ "DSS.LABEL.CLUSTER.SIMILARTY"| translate}}
  <br/>{{ "DSS.LABEL.CLUSTER.CLUSTER-SIMILARTY"| translate}}
  <br/>{{ "DSS.LABEL.CLUSTER.MEAN"| translate}}
  <br/>{{ "DSS.LABEL.CLUSTER.MAX"| translate}}
  <br/>{{ "DSS.LABEL.CLUSTER.MIN"| translate}}
  <br/>{{ "DSS.BUTTON.UPLOAD-REPORT"| translate}}
  <br/>{{ "DSS.BUTTON.UPLOAD"| translate}}
  <br/>{{ "DSS.BUTTON.DOWNLOAD"| translate}}
  <br/>{{ "DSS.BUTTON.ADD-FILE"| translate}}
  <br/>{{ "DSS.BUTTON.CLEAR-ALL"| translate}}
  <br/>{{ "DSS.BUTTON.RETRY"| translate}}
  <br/>{{ "DSS.MESSAGE.INFO-SEARCH-KEYWORD"| translate}}
  <br/>{{ "DSS.MESSAGE.INFO-SCORE"| translate}}
  <br/>{{ "DSS.MESSAGE.INFO-PURITY"| translate}}
  <br/>{{ "DSS.MESSAGE.INFO-COMMONALITY"| translate}}
  <br/>{{ "DSS.MESSAGE.AT-LEAST-ONE-KEYWORD"| translate}}
  <br/>{{ "DSS.MESSAGE.ERROR.NO_SEARCH_RESULT"| translate}}
  <br/>{{ "DSS.MESSAGE.CREATE.SUBSCRIBE"| translate}}
  <br/>{{ "DSS.MESSAGE.MODIFIED.SUBSCRIBE"| translate}}
  <br/>{{ "DSS.MESSAGE.FAILED.SUBSCRIBE.CREATE"| translate}}
  <br/>{{ "DSS.MESSAGE.FAILED.SUBSCRIBE.MODIFY"| translate}}
  <br/>{{ "DSS.MESSAGE.INFO-UPLOAD.TYPE"| translate}}
  <br/>{{ "DSS.MESSAGE.INFO-UPLOAD.SIZE"| translate}}
  <br/>{{ "DSS.MESSAGE.INFO-UPLOAD.COUNT"| translate}}
  <br/>{{ "DSS.MESSAGE.NO-ENTITIES"| translate}}
  <br/>{{ "DSS.VALIDATE.DUPLICATETITLE"| translate}}
  <br/>{{ "DSS.VALIDATE.TITLE"| translate}}
  <br/>{{ "DSS.VALIDATE.KNOWLEDGETYPE"| translate}}
  <br/>{{ "DSS.VALIDATE.KEYWORD"| translate}}
  <br/>{{ "DSS.VALIDATE.FREQUENCY"| translate}}
  <br/>{{ "DSS.VALIDATE.PERIOD"| translate}}
  <br/>{{ "DSS.VALIDATE.PERIODVALUE"| translate}}
  <br/>{{ "DSS.VALIDATE.USERLIST"| translate}}
  <br/>{{ "DSS.VALIDATE.FILTERSCHECKBOX"| translate}}
  <br/>{{ "DSS.COMPONENTS.SUBSCRIPTION.MANAGEMENT.NODATA"| translate}}
  <br/>{{ "DSS.COMPONENTS.SUBSCRIPTION.MANAGEMENT.ERROR"| translate}}
  <br/>{{ "DSS.COMPONENTS.SUBSCRIPTION.MANAGEMENT.DRILLDOWN.ERROR"| translate}}
  <br/>{{ "DSS.COMPONENTS.SUBSCRIPTION.MANAGEMENT.DRILLDOWN.NOSELECTED"| translate}}
  <br/>{{ "DSS.COMPONENTS.SUBSCRIPTION.MANAGEMENT.DELETE.SUCCESS"| translate}}
  <br/>{{ "DSS.COMPONENTS.SUBSCRIPTION.MANAGEMENT.DELETE.NOSELECTED"| translate}}
  <br/>{{ "DSS.COMPONENTS.SUBSCRIPTION.MANAGEMENT.DELETE.FAIL"| translate}}
  <br/>{{ "DSS.COMPONENTS.SUBSCRIPTION.MANAGEMENT.INACTIVE.SUCCESS"| translate}}
  <br/>{{ "DSS.COMPONENTS.SUBSCRIPTION.MANAGEMENT.INACTIVE.ERROR"| translate}}
  <br/>{{ "DSS.COMPONENTS.SUBSCRIPTION.MANAGEMENT.INACTIVE.FAIL"| translate}}
  <br/>{{ "DSS.COMPONENTS.SUBSCRIPTION.MANAGEMENT.ACTIVE.SUCCESS"| translate}}
  <br/>{{ "DSS.COMPONENTS.SUBSCRIPTION.MANAGEMENT.ACTIVE.ERROR"| translate}}
  <br/>{{ "DSS.COMPONENTS.SUBSCRIPTION.MANAGEMENT.ACTIVE.FAIL"| translate}}
  <br/>{{ "DSS.COMPONENTS.HISTORY.NODATA"| translate}}
  <br/>{{ "DSS.COMPONENTS.HISTORY.ERROR.SEARCH"| translate}}
  <br/>{{ "DSS.COMPONENTS.HISTORY.ERROR.DATA"| translate}}
  <br/>{{ "DSS.COMPONENTS.HISTORY.ERROR.DOWNLOAD"| translate}}
  <br/>{{ "DSS.TOOLTIP.MAP.PATTERN.TYPE.SINGLE"| translate}}
  <br/>{{ "DSS.TOOLTIP.MAP.PATTERN.TYPE.SPARSE"| translate}}
  <br/>{{ "DSS.TOOLTIP.MAP.PATTERN.TYPE.RANDOM"| translate}}
  <br/>{{ "DSS.TOOLTIP.MAP.PATTERN.TYPE.LOW_DENSITY"| translate}}
  <br/>{{ "DSS.TOOLTIP.MAP.PATTERN.TYPE.FOCUS"| translate}}



