<select [formControl]="selectControl">
  <option [ngValue]="'aaa'">AAA</option>
  <option [ngValue]="'bbb'">BBB</option>
  <option [ngValue]="'ccc'">CCC</option>
  <option [ngValue]="'ddd'">DDD</option>
  <option [ngValue]="'eee'">EEE</option>
  <option [ngValue]="'fff'">FFF</option>
  <option [ngValue]="'ggg'">GGG</option>
  <option [ngValue]="'hhh'">HHH</option>
  <option [ngValue]="'iii'">III</option>
  <option [ngValue]="'jjj'">JJJ</option>
  <option [ngValue]="'kkk'">KKK</option>
</select>
