<p>tpc works!</p>



  <br/>{{"TPC.MESSAGE.VALUE_CHECK.NUMERIC"|translate}}
  <br/>{{"TPC.MESSAGE.VALUE_CHECK.POSITIVE_NUMERIC"|translate}}
  <br/>{{"TPC.MESSAGE.VALUE_CHECK.GREATER_0_NUMERIC"|translate}}
  <br/>{{"TPC.MESSAGE.SELECT.META_MODULE"|translate}}
  <br/>{{"TPC.MESSAGE.SELECT.META_MODULE_LEVEL"|translate}}
  <br/>{{"TPC.MESSAGE.SELECT.ONLY_RECORD"|translate}}
  <br/>{{"TPC.MESSAGE.SELECT.DATE"|translate}}
  <br/>{{"TPC.MESSAGE.SELECT.SEARCH_CONDITION"|translate}}
  <br/>{{"TPC.MESSAGE.SELECT.WAFER"|translate}}
  <br/>{{"TPC.MESSAGE.SELECT.VERSION_ACT"|translate}}
  <br/>{{"TPC.MESSAGE.SELECT.VERSION_COPY"|translate}}
  <br/>{{"TPC.MESSAGE.SELECT.AT_LEAST"|translate}}
  <br/>{{"TPC.MESSAGE.SELECT.CLICK"|translate}}
  <br/>{{"TPC.MESSAGE.SELECT.SPEC_DUPLI"|translate}}
  <br/>{{"TPC.MESSAGE.SELECT.CONDITION"|translate}}
  <br/>{{"TPC.MESSAGE.CHART.DIFF_SPEC_KEY"|translate}}
  <br/>{{"TPC.MESSAGE.CHART.DIFF_META_MODULE"|translate}}
  <br/>{{"TPC.MESSAGE.CHART.DIFF_SETTLING_TYPE"|translate}}
  <br/>{{"TPC.MESSAGE.CHART.NO_MODULE"|translate}}
  <br/>{{"TPC.MESSAGE.CHART.NO_DATA"|translate}}
  <br/>{{"TPC.MESSAGE.CHART.NO_PARAM"|translate}}
  <br/>{{"TPC.MESSAGE.CHART.NO_TRACE_DATA"|translate}}
  <br/>{{"TPC.MESSAGE.CHART.SETTLING_MODI"|translate}}
  <br/>{{"TPC.MESSAGE.CHART.NO_DATA_KEY"|translate}}
  <br/>{{"TPC.MESSAGE.CHART.NO_TRACE_DATA_KEY"|translate}}
  <br/>{{"TPC.MESSAGE.VER.DEPLOY.AND_SUBMIT_SUCC"|translate}}
  <br/>{{"TPC.MESSAGE.VER.DEPLOY.FAIL"|translate}}
  <br/>{{"TPC.MESSAGE.VER.DEPLOY.SUCCESS"|translate}}
  <br/>{{"TPC.MESSAGE.VER.DEPLOY.WITHOUT_EQP"|translate}}
  <br/>{{"TPC.MESSAGE.VER.DELETE.DEPLOYED"|translate}}
  <br/>{{"TPC.MESSAGE.VER.DELETE.NOT_SELECTED"|translate}}
  <br/>{{"TPC.MESSAGE.VER.SUBMIT.SUCCESS"|translate}}
  <br/>{{"TPC.MESSAGE.VER.COMPARE.DIFF"|translate}}
  <br/>{{"TPC.MESSAGE.VER.COMPARE.TWO"|translate}}
  <br/>{{"TPC.MESSAGE.VER.COMPARE.CURR"|translate}}
  <br/>{{"TPC.MESSAGE.VER.DRAFT_SAVE"|translate}}
  <br/>{{"TPC.MESSAGE.VER.SHARE_USER.DUPLICATE"|translate}}
  <br/>{{"TPC.MESSAGE.VER.SHARE_USER.INPUT_NAME"|translate}}
  <br/>{{"TPC.MESSAGE.NO.DRAFT_VER"|translate}}
  <br/>{{"TPC.MESSAGE.NO.DATA"|translate}}
  <br/>{{"TPC.MESSAGE.NO.TRACE_DATA"|translate}}
  <br/>{{"TPC.MESSAGE.NO.MODULE_INFO"|translate}}
  <br/>{{"TPC.MESSAGE.NO.CHANGE"|translate}}
  <br/>{{"TPC.MESSAGE.NO.SPEC_DATA"|translate}}
  <br/>{{"TPC.MESSAGE.NO.TRACE_PARAM"|translate}}
  <br/>{{"TPC.MESSAGE.NO.NUMBER_TRACE_PARAM"|translate}}
  <br/>{{"TPC.MESSAGE.NO.WAFER_LIST_META_MODULE"|translate}}
  <br/>{{"TPC.MESSAGE.WHILE_EDITING"|translate}}
  <br/>{{"TPC.MESSAGE.FAIL.ABNORMAL_DATA"|translate}}
  <br/>{{"TPC.MESSAGE.FAIL.GET"|translate}}
  <br/>{{"TPC.MESSAGE.FAIL.CREATE"|translate}}
  <br/>{{"TPC.MESSAGE.FAIL.SPEC_NOTEXIST"|translate}}
  <br/>{{"TPC.MESSAGE.INPUT.COUNT"|translate}}
  <br/>{{"TPC.MESSAGE.INPUT.CHECK_VALUE"|translate}}
  <br/>{{"TPC.MESSAGE.UPDATE.ROWS"|translate}}
  <br/>{{"TPC.MESSAGE.UPDATE.AND_ADD_ROWS"|translate}}
  <br/>{{"TPC.MESSAGE.UPDATE.FAIL_SAME_SPEC"|translate}}
  <br/>{{"TPC.MESSAGE.CONDITION.NO_EQP"|translate}}
  <br/>{{"TPC.MESSAGE.CONDITION.NO_MODULEPATH"|translate}}
  <br/>{{"TPC.MESSAGE.CONDITION.UNACT_FDC_MODEL"|translate}}
  <br/>{{"TPC.MESSAGE.COMMON.COPY_SUCC"|translate}}
  <br/>{{"TPC.MESSAGE.COMMON.SAVE_SUCC"|translate}}
  <br/>{{"TPC.MESSAGE.COMMON.SAVE_CHANGES"|translate}}
  <br/>{{"TPC.MESSAGE.COMMON.CANCEL_CHANGES"|translate}}
  <br/>{{"TPC.MESSAGE.FILE.IMPORT.NO_DATA"|translate}}
  <br/>{{"TPC.MESSAGE.FILE.IMPORT.NO_DATA_UPDATE"|translate}}
  <br/>{{"TPC.MESSAGE.FILE.IMPORT.MULTIPLE"|translate}}
  <br/>{{"TPC.MESSAGE.FILE.IMPORT.INVALID"|translate}}
  <br/>{{"TPC.MESSAGE.FILE.EXPORT.NO_DATA"|translate}}
  <br/>{{"TPC.MESSAGE.CONFIRM.DELETE_ROWS"|translate}}
  <br/>{{"TPC.MESSAGE.CONFIRM.DELETE_META_FDC"|translate}}
  <br/>{{"TPC.MESSAGE.CONFIRM.DELETE_VERSION"|translate}}
  <br/>{{"TPC.MESSAGE.CONFIRM.DELETE_DRAFT"|translate}}
  <br/>{{"TPC.MESSAGE.CONFIRM.ROLLBACK_SPEC"|translate}}
  <br/>{{"TPC.MESSAGE.CONFIRM.NOT_ALLOW_DELETE_ACTIVE"|translate}}
  <br/>{{"TPC.MESSAGE.EQP_LIST.ACTIVE"|translate}}
  <br/>{{"TPC.MESSAGE.EQP_LIST.INACTIVE"|translate}}
  <br/>{{"TPC.MESSAGE.EQP_LIST.ACT_NO_DEPLOY_VER"|translate}}
  <br/>{{"TPC.MESSAGE.EQP_LIST.ACT_NO_SUBMIT_VER"|translate}}
  <br/>{{"TPC.MESSAGE.UNKNOWN_ERROR"|translate}}
  <br/>{{"TPC.MESSAGE.MSG"|translate}}
  <br/>{{"TPC.BUTTON.ADD_SPEC"|translate}}
  <br/>{{"TPC.BUTTON.BACK"|translate}}
  <br/>{{"TPC.BUTTON.NEXT"|translate}}
  <br/>{{"TPC.BUTTON.CLEAR"|translate}}
  <br/>{{"TPC.BUTTON.CREATE_DRAFT_FROM_MST"|translate}}
  <br/>{{"TPC.BUTTON.CREATE_EQP_FDC"|translate}}
  <br/>{{"TPC.BUTTON.CREATE_META_FDC"|translate}}
  <br/>{{"TPC.BUTTON.DEPLOY"|translate}}
  <br/>{{"TPC.BUTTON.DEPLOY_LATER"|translate}}
  <br/>{{"TPC.BUTTON.DRAFT"|translate}}
  <br/>{{"TPC.BUTTON.DRAW"|translate}}
  <br/>{{"TPC.BUTTON.DRAW_CHART"|translate}}
  <br/>{{"TPC.BUTTON.DRAW_LIMIT"|translate}}
  <br/>{{"TPC.BUTTON.DRAW_TRACE_VALUE_HISTORY"|translate}}
  <br/>{{"TPC.BUTTON.EDIT"|translate}}
  <br/>{{"TPC.BUTTON.GOTO_META_FDC"|translate}}
  <br/>{{"TPC.BUTTON.ROLLBACK"|translate}}
  <br/>{{"TPC.BUTTON.SAVE_CHANGE"|translate}}
  <br/>{{"TPC.BUTTON.SEARCH"|translate}}
  <br/>{{"TPC.BUTTON.SHARE"|translate}}
  <br/>{{"TPC.BUTTON.SUBMIT"|translate}}
  <br/>{{"TPC.BUTTON.VIEW_MODE"|translate}}
  <br/>{{"TPC.LABEL.ACTIVATION"|translate}}
  <br/>{{"TPC.LABEL.ACTIVATION_PERIOD"|translate}}
  <br/>{{"TPC.LABEL.ADD_PARAMETER"|translate}}
  <br/>{{"TPC.LABEL.AI_SPEC"|translate}}
  <br/>{{"TPC.LABEL.AI_SPEC_RECOMMEND"|translate}}
  <br/>{{"TPC.LABEL.ALGORITHM"|translate}}
  <br/>{{"TPC.LABEL.ALL_REFS_WAFERS"|translate}}
  <br/>{{"TPC.LABEL.APPLY_ALL_STEP"|translate}}
  <br/>{{"TPC.LABEL.APPLY_SELECTED_STEP"|translate}}
  <br/>{{"TPC.LABEL.AUTO_CALC"|translate}}
  <br/>{{"TPC.LABEL.AUTO_CALC_COUNT"|translate}}
  <br/>{{"TPC.LABEL.BASE_VERSION"|translate}}
  <br/>{{"TPC.LABEL.CALC_TOLERANCE"|translate}}
  <br/>{{"TPC.LABEL.CALC_TYPE"|translate}}
  <br/>{{"TPC.LABEL.CALCULATE"|translate}}
  <br/>{{"TPC.LABEL.CALCULATION_TYPE"|translate}}
  <br/>{{"TPC.LABEL.CHART_SIMULATION"|translate}}
  <br/>{{"TPC.LABEL.CHECKBOX"|translate}}
  <br/>{{"TPC.LABEL.CLOSE_EDIT_MODE"|translate}}
  <br/>{{"TPC.LABEL.CLOSE_EDIT_MODE_TOOLTIP"|translate}}
  <br/>{{"TPC.LABEL.CONFIRMATION"|translate}}
  <br/>{{"TPC.LABEL.CONTROL_LIMIT_THRESHOLD"|translate}}
  <br/>{{"TPC.LABEL.CONTROL_TOLERANCE"|translate}}
  <br/>{{"TPC.LABEL.COUNT"|translate}}
  <br/>{{"TPC.LABEL.CREATE_DRAFT"|translate}}
  <br/>{{"TPC.LABEL.CREATE_NEW_DRAFT"|translate}}
  <br/>{{"TPC.LABEL.CREATE_REVISION"|translate}}
  <br/>{{"TPC.LABEL.CSV_EXPORT"|translate}}
  <br/>{{"TPC.LABEL.CURRENT_COUNT"|translate}}
  <br/>{{"TPC.LABEL.DAYS"|translate}}
  <br/>{{"TPC.LABEL.DELETE_DRAFT"|translate}}
  <br/>{{"TPC.LABEL.DELETE_DRAFT_TOOLTIP"|translate}}
  <br/>{{"TPC.LABEL.DEPLOY_FDC"|translate}}
  <br/>{{"TPC.LABEL.DESCRIPTION"|translate}}
  <br/>{{"TPC.LABEL.DISPLAY_ONLY_UNREAD"|translate}}
  <br/>{{"TPC.LABEL.DOES_NOT_EXIST"|translate}}
  <br/>{{"TPC.LABEL.DRAFT"|translate}}
  <br/>{{"TPC.LABEL.DRAFT_TOOLTIP"|translate}}
  <br/>{{"TPC.LABEL.DRAW_CHART"|translate}}
  <br/>{{"TPC.LABEL.DRAW_TRACE_VALUE_HISTORY"|translate}}
  <br/>{{"TPC.LABEL.EDIT_MODE_MENU_POSTFIX"|translate}}
  <br/>{{"TPC.LABEL.ENABLED"|translate}}
  <br/>{{"TPC.LABEL.END_SETTLING"|translate}}
  <br/>{{"TPC.LABEL.EQP_FDC"|translate}}
  <br/>{{"TPC.LABEL.EQP_FDC_MODEL"|translate}}
  <br/>{{"TPC.LABEL.EVERY"|translate}}
  <br/>{{"TPC.LABEL.EXCEL_EXPORT"|translate}}
  <br/>{{"TPC.LABEL.EXPORT"|translate}}
  <br/>{{"TPC.LABEL.FAULT_LEVEL_FOR_LIMIT"|translate}}
  <br/>{{"TPC.LABEL.FAULT_LEVEL_LC"|translate}}
  <br/>{{"TPC.LABEL.FAULT_LEVEL_LS"|translate}}
  <br/>{{"TPC.LABEL.FAULT_LEVEL_UC"|translate}}
  <br/>{{"TPC.LABEL.FAULT_LEVEL_US"|translate}}
  <br/>{{"TPC.LABEL.FAULT_RULE"|translate}}
  <br/>{{"TPC.LABEL.FAULT_RULE_X"|translate}}
  <br/>{{"TPC.LABEL.FAULT_RULE_Y"|translate}}
  <br/>{{"TPC.LABEL.GOTO_AI_SPEC_RECOMMEND"|translate}}
  <br/>{{"TPC.LABEL.HIDE_SPEC"|translate}}
  <br/>{{"TPC.LABEL.IMPORT"|translate}}
  <br/>{{"TPC.LABEL.INTERLOCK"|translate}}
  <br/>{{"TPC.LABEL.LCL"|translate}}
  <br/>{{"TPC.LABEL.LIMIT"|translate}}
  <br/>{{"TPC.LABEL.LOT_HISTORY"|translate}}
  <br/>{{"TPC.LABEL.LOWER"|translate}}
  <br/>{{"TPC.LABEL.LSL"|translate}}
  <br/>{{"TPC.LABEL.MAX_PERIOD"|translate}}
  <br/>{{"TPC.LABEL.META_FDC"|translate}}
  <br/>{{"TPC.LABEL.META_FDC_MODEL"|translate}}
  <br/>{{"TPC.LABEL.META_PARAMETER_NAME"|translate}}
  <br/>{{"TPC.LABEL.META_PAREMETER"|translate}}
  <br/>{{"TPC.LABEL.META_PAREMETER_ID"|translate}}
  <br/>{{"TPC.LABEL.META_VER"|translate}}
  <br/>{{"TPC.LABEL.MIN_PERIOD"|translate}}
  <br/>{{"TPC.LABEL.MINIMUM_SAMPLE_LOT"|translate}}
  <br/>{{"TPC.LABEL.MODEL_INFORMATION"|translate}}
  <br/>{{"TPC.LABEL.MODIFY_EXIST_DRAFT"|translate}}
  <br/>{{"TPC.LABEL.MODIFY_FDC_MODEL"|translate}}
  <br/>{{"TPC.LABEL.MOVE_CHART"|translate}}
  <br/>{{"TPC.LABEL.N_AI_SPEC_SUGGESTED"|translate}}
  <br/>{{"TPC.LABEL.NEW_CHART"|translate}}
  <br/>{{"TPC.LABEL.NEW_TRACE_VALUE_HISTORY"|translate}}
  <br/>{{"TPC.LABEL.NO_DRAFT_EXIST"|translate}}
  <br/>{{"TPC.LABEL.NO_VERSION_TAG"|translate}}
  <br/>{{"TPC.LABEL.OTMZ_INFORMATION"|translate}}
  <br/>{{"TPC.LABEL.PARAMETER"|translate}}
  <br/>{{"TPC.LABEL.PRIME_WAFER"|translate}}
  <br/>{{"TPC.LABEL.PROPERTY"|translate}}
  <br/>{{"TPC.LABEL.RECENTLY_RUN"|translate}}
  <br/>{{"TPC.LABEL.RECIPE"|translate}}
  <br/>{{"TPC.LABEL.RESET"|translate}}
  <br/>{{"TPC.LABEL.REVIEW_SPEC"|translate}}
  <br/>{{"TPC.LABEL.SAMPLE_EQP"|translate}}
  <br/>{{"TPC.LABEL.SAMPLE_LOT_COUNT"|translate}}
  <br/>{{"TPC.LABEL.SAMPLING_SLOT"|translate}}
  <br/>{{"TPC.LABEL.SAMPLING_SLOT_NUMBER"|translate}}
  <br/>{{"TPC.LABEL.SAVED"|translate}}
  <br/>{{"TPC.LABEL.SEE_WAFER_LIST"|translate}}
  <br/>{{"TPC.LABEL.SEGMENTATION"|translate}}
  <br/>{{"TPC.LABEL.SELECT"|translate}}
  <br/>{{"TPC.LABEL.SELECT_ALL"|translate}}
  <br/>{{"TPC.LABEL.SELECT_PARAMETER"|translate}}
  <br/>{{"TPC.LABEL.SELECT_RECIPE"|translate}}
  <br/>{{"TPC.LABEL.SELECT_WAFER"|translate}}
  <br/>{{"TPC.LABEL.SELECTED_ALL"|translate}}
  <br/>{{"TPC.LABEL.SETTLING"|translate}}
  <br/>{{"TPC.LABEL.SETTLING_TYPE"|translate}}
  <br/>{{"TPC.LABEL.SIMULATION_DATA"|translate}}
  <br/>{{"TPC.LABEL.SPEC_INFORMATION"|translate}}
  <br/>{{"TPC.LABEL.SPEC_ORDER"|translate}}
  <br/>{{"TPC.LABEL.SPEC_TOLERANCE"|translate}}
  <br/>{{"TPC.LABEL.SPEC_VALIDATION"|translate}}
  <br/>{{"TPC.LABEL.START_SETTLING"|translate}}
  <br/>{{"TPC.LABEL.STEP"|translate}}
  <br/>{{"TPC.LABEL.STEP_ID"|translate}}
  <br/>{{"TPC.LABEL.SUBMIT"|translate}}
  <br/>{{"TPC.LABEL.SUBMIT_DEPLOY"|translate}}
  <br/>{{"TPC.LABEL.SUBMIT_DRAFT"|translate}}
  <br/>{{"TPC.LABEL.SUBMITTED"|translate}}
  <br/>{{"TPC.LABEL.TARGET"|translate}}
  <br/>{{"TPC.LABEL.TRACE_CHART"|translate}}
  <br/>{{"TPC.LABEL.TRACE_CHART_VIEW"|translate}}
  <br/>{{"TPC.LABEL.TRACE_VALUE_HISTORY"|translate}}
  <br/>{{"TPC.LABEL.UCL"|translate}}
  <br/>{{"TPC.LABEL.UPPER"|translate}}
  <br/>{{"TPC.LABEL.USE_FAULT_FILTER"|translate}}
  <br/>{{"TPC.LABEL.USE_IQR_FILTER"|translate}}
  <br/>{{"TPC.LABEL.USL"|translate}}
  <br/>{{"TPC.LABEL.VERSION_TAG"|translate}}
  <br/>{{"TPC.LABEL.VIEW_BY_WAFER"|translate}}
  <br/>{{"TPC.LABEL.VIEW_OPTION"|translate}}
  <br/>{{"TPC.LABEL.VIEW_SPEC"|translate}}
  <br/>{{"TPC.LABEL.WAFERS"|translate}}
