<p>generate-pdf works!</p>
<button (click)="printAll()">Print All</button>
<br/>
<button (click)="savePdf()">EXPORT TO PDF</button>
<table-data #tableData></table-data>
<div #content>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Country</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>23</td>
        <td>New Zealand</td>
      </tr>
      <tr>
        <td>Smith</td>
        <td>24</td>
        <td>Australia</td>
      </tr>
    </tbody>
  </table>
</div>
